/* reset */

/* layout */

.cogury{
    position:relative;
    margin:50px auto;
    width: 420px;
    height: 300px;
}

.face{
    width:420px;
    height: 160px;
    background-color: green;
    border-radius: 40%;
}

.ear_left, .ear_right{
    width:100px;
    height: 150px;
    background-color: green;
    border-radius: 50% 50% 0 0;

}

.ear_left{
    position:relative;
    left:102px;
    top:160px;

}

.ear_right{
    position: relative;
    left:208px;
    top:10px;
}

div[class*=brow_left], div[class*=brow_right]{
    width:2px;
    height:25px;
    background-color: black;
}

.brow_left1{
    position: relative;
    left:145px;
    bottom:70px;
    rotate: -10deg;
}

.brow_left2{
    position: relative;
    left:151px;
    bottom: 97px;
}

.brow_left3{
    position: relative;
    left:157px;
    bottom: 120px;
    rotate: 10deg;
}

.brow_right1{
    position: relative;
    left:249px;
    bottom:143px;
    rotate: -10deg;
}

.brow_right2{
    position: relative;
    left: 255px;
    bottom: 170px;
}

.brow_right3{
    position: relative;
    left:261px;
    bottom:193px;
    rotate: 10deg;
}

.eye_left, .eye_right{
    width:32px;
    height:60px;
    background-color: black;
    border-radius: 50%;

}

.eye_left{
    position: relative;
    left:136px;
    bottom:210px;
}

.eye_right{
    position: relative;
    left:240px;
    bottom:270px;
}

.mouth_left, .mouth_right{
    width: 35px;
    height: 70px;
    background-color: green;
    border: 5px solid black;
    border-radius: 50%;
}

.mouth_left{
    position: relative;
    left:160px;
    bottom:260px;
}

.mouth_right{
    position:relative;
    left:197px;
    bottom:340px;
}

.mouth_right::after{
    content:' ';
    display: table;
    position: relative;
    width:100px;
    height:60px;
    background-color: green;
    right: 50px;
    bottom: 10px;
}
.red_left, .red_right{
    position: relative;
    width:105px;
    height:100px;
    background-color: red;
    border-radius: 45%;
}

.red_left{
    bottom:400px;
    right:4px;
}
.red_right{
    bottom:500px;
    left:320px;
}